*{
    font-family: sans-serif;
}

#overskrift{
    text-align: center;
}

#logo{
    height: 100px;
    left: 10px;
    bottom: 50px;
}

a{ 
    position: absolute;
    top: 135px;
    left: 20px;
}
h1{
    text-align: center;
}
img{
    position: relative;
    align-items: center;
}
#maincontainer{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 400px 400px 400px 400px 400px ;
}

svg{
    width: 160px;
    display: inline;
    height: 100px;
    cursor: pointer;
#goal1{
    grid-column-start: 1;
    grid-row-start: 1;
}
#goal2{
    grid-column-start: 2;
    grid-row-start: 1;
}
#goal3{
    grid-column-start: 3;
    grid-row-start: 1;
}
#goal4{
    grid-column-start: 4;
    grid-row-start: 1;
}
#goal5{
    grid-column-start: 1;
    grid-row-start: 2;
}
#goal6{
    grid-column-start: 2;
    grid-row-start: 2;
}
#goal7{
    grid-column-start: 3;
    grid-row-start: 2;
}
#goal8{
    grid-column-start: 4;
    grid-row-start: 2;
}
#goal9{
    grid-column-start: 1;
    grid-row-start: 3;
}
#goal10{
    grid-column-start: 2;
    grid-row-start: 3;
}
#goal11{
    grid-column-start: 3;
    grid-row-start: 3;
}
#goal12{
    grid-column-start: 4;
    grid-row-start: 3;
}
#goal13{
    grid-column-start: 1;
    grid-row-start: 4;
}
#goal154{
    grid-column-start: 2;
    grid-row-start: 4;
}
#goal15{
    grid-column-start: 3;
    grid-row-start: 4;
}
#goal16{
    grid-column-start: 4;
    grid-row-start: 4;
}
#goal17x{
    grid-column-start: 1;
    grid-row-start: 5;
}
}

.detail{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 6;
    display: flex;
    flex-direction: column;
    align-items: center;
    img{
        width: 700px;
        height: 400px;
    }
}
